.json


# Ignore all images except default.png
/backend/images/*
!/backend/images/default.png

# Frontend
/frontend/pages/testpage.jsx

# VScode extension
.VSCodeCounter
.vscode

# All servers being created on the local machine while testing / developing
servers

notes.txt
INSPO/*
INSPO

hostswap.js