.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;
}

.dashboard-container {
    display: block;
    
    width: 100%;
    height: 100%;
}

.dashboard-heading{
    margin: 0px;
    border-bottom: 1px solid var(--PowercraftColor);
    background-color: var(--OpaicGrey);
}

.server-list-container{
    overflow-y: scroll;
    height: 50vh;
}

.resource-grid{
    display: grid;
    grid-template-areas: 
    "CPU MEMORY DISK PLAYERS"
    "TEST1 TEST2 TEST3 PLAYERS"
    ;

    grid-column: auto;
    grid-row: auto;

    gap: 55px;
    padding: 1%;
}

@media (max-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
    .header {
        display: none;
    }

    .dashboard-sidebar {
        width: 501px;
        background-color: red;
    }
}
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
