.graph_holder{
    position: relative;
    width: 500px;
    height: 300px;

    background: var(--OpaicGrey);
    border: 1px solid black
}

.graph {
    list-style: none;
    margin: 0;
    padding: 0;
}

.graph_line1{
    stroke-width: 2px;
    stroke: var(--PowercraftColor);
}

.graph-axis{
    fill: black;
    stroke-width: 1px;
    stroke: black;
}

.underline{
    fill: var(--PowercraftColorOpaic);
    stroke-width: 0.05px;
    stroke: var(--PowercraftColorOpaic);
}