.graph_holder{
    position: relative;
    width: 500px;
    height: 300px;

    background: whitesmoke;
    border: 1px solid black
}

.graph {
    list-style: none;
    margin: 0;
    padding: 0;
}

.graph_line1{
    stroke-width: 2px;
    stroke: var(--PowercraftColor);
}

.graph_line2{
    stroke-width: 2px;
    stroke: red;
}

.graph_grid{
    stroke-width: 2px;
    stroke: var(--OpaicGrey);
}

.graph_shadow1{
    fill: var(--PowercraftColorOpaic);
    stroke-width: 0.05px;
    stroke: var(--PowercraftColorOpaic);
}

.graph_shadow2{
    fill: rgba(255,0 ,0 ,0.2);
    stroke-width: 0.05px;
    stroke: rgba(255,0 ,0 ,0.2);
}


.graph-axis{
    fill: black;
    stroke-width: 1px;
    stroke: black;
}
