.header {
    display: flex;
    grid-area: "header";
    height: 4vh;
    width: 100vw;

    background: linear-gradient(
        to bottom right,
        rgb(0, 200, 255),
        rgb(0, 140, 255)
    );
}

.options {
    display: flex;
    flex-grow: 1;

    justify-content: flex-end;
}

.header span {
    font-size: 0.7vw;
    color: white;
    border-right: 2px solid white;
    padding: 0.5vw;
    user-select: none;
    transition: 500ms all;
}

.options span:first-child {
    border-left: 2px solid white;
}

.header span:hover {
    background-color: white;
    color: var(--PowercraftColor);
}