:root{
    --PowercraftColorGradient: linear-gradient(to bottom right, rgb(0, 200, 255), rgb(0, 140, 255));
    --PowercraftColor: rgb(0, 140, 255);

    --OpaicGrey:rgba(83, 82, 82, 0.1);
    --Grey: rgba(83, 82, 82, 0.346);
    
    
}

.container_1{
    background-color: white;
    border-radius: 10px;

    align-items: center;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);




    width:  750px;
    height: 900px;;
}

.container_1 input{
    user-select: none;
    width: 600px;
    height: 75px;
}

.text_input{
    border: none;
    border-bottom: 1px solid grey;

    user-select: none;
    margin-top: 2vh;
}

.text_input:focus{
    outline-width: 0px;
}

.container_header{
    background: linear-gradient(to bottom right, rgb(0, 200, 255), rgb(0, 140, 255));
    color: white;
    
    border: 0px;


    line-height: 5vh;
    height: 5vh;

    
    font-size: 40px;
    text-align: left;
    padding-left: 0.5vw;
}

.container_1  form .form{
    margin-left: 2.5vw;
    margin-right: 2.5vw;

    height: 100%;

    display: block;
    font-size: 30px;
    padding-top: 10%;
}

.login-submit{
    border: none;
    border-radius: 15px;
    background: linear-gradient(to bottom right, rgb(0, 200, 255), rgb(0, 140, 255));
    margin-top: 10vh;
}

.create-submit{
    text-align: center;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to bottom right, rgb(0, 200, 255), rgb(0, 140, 255));
    margin-top: 5vh;
    color: white;
}

.page{
    height: 100vh;
    /*background: linear-gradient(to bottom right, rgb(78, 224, 246), rgb(62, 123, 255));
    */

    display: inline;
    align-items: center;
}

.container-logo{
    width: 3vh;
    float: right;
    padding: 0.2vw;
}

.bottom{
    border: none;
    border-radius: 15px;

    width: 600px;
    height: 75px;
    margin-top: 2vh;
}

.server_listing img{
    width: 128px;
    height: 128px;
}

.server_terminal{
    background-color: black;
    color: white;
    
    width: 1500px;
    height: 800px;

    overflow-y: scroll;
    overflow-x: hidden;
}::-webkit-scrollbar{
    display: none;
}

.server_terminal_input{
    border: none;
    border-top: 1px white solid;

    width: 1500px;

    background-color: black;
    color: white;

    font-size: 15px;
}

.terminal_text:hover{
    background-color: yellow;
    color: purple;
}

.control_panel{
    background-color: grey;
    padding: 1%;
}

.control_panel button{
    width: 100px;
    height: 50px;
    padding: 5%;

    font-size: 15px;
    color: white;
}

.start_button{
    background-color: green;
}

.restart_button{
background-color: orange;
}

.stop_button{
    background-color: red;
}













@media screen and (max-width: 390px){
    .container_1{
        width: 100vw;
        height: 100vh;
    }

    .container_header{
        font-size: 32px;
        height: 75px;
        line-height: 75px;
    }

    .container_1 input{
        width: 70%;
        height: 50px;
    }   

    .login-submit .create-submit{
        margin-top: 250px;
    }

    .bottom{
        width: 70%;
        height: 50px;
    }
}