.server-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;


    border: 2px solid var(--OpaicGrey);
    border-radius: 5px;

    overflow-y: hidden;
    height: 65%;
}

.server-list-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border-bottom: 2px solid var(--OpaicGrey);

    width: 100%;
    height: 5%;
}

.server-list-header span{
    flex-grow: 1;
    justify-content: center;
    font-size: 1.4em;
}

.server-list-options {
    overflow-x: hidden;
    overflow-y: scroll;
}

.server-listing img {
    float: right;
    width: 64px;
    height: 64px;
}

.server-list-scroll{
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.server-listing,
.create-server {
    display: flex;
    

    border: 1px solid var(--OpaicGrey);

    height: 10%;
    width: 100%;

    font-size: 0.8vw;
}

.server-listing span{
    flex: 1;
    overflow-x: hidden;
    justify-content: center;
    border-right: 1px solid blakc;
}

.server-listing div:nth-child(odd){
    background-color: var(--OpaicGrey);
}

.server-list span {
    display: flex;
    align-items: center;
}

.status-light {
    height: 25px;
    width: 25px;

    background-color: purple;
    border-radius: 50%;
}

.server-list-button {
    display: none;
    position: absolute;
    right: -35px;
    top: 10px;
}

.server-list-button img {
    display: none;
    width: 32px;
    height: 32px;
}

.server-listing:hover,
.create-server:hover {
    background-color: var(--PowercraftColorDark);
}

@media (max-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
    .server-list {
        position: absolute;
        height: 100%;
    }

    .server-list-button img {
        display: block;
    }
}
