.flexbox {
    display: flex;
    flex-direction: row;

    gap: 2vw;

    padding: 0.5vw;
}

.panel{
    width: 40vw;
    padding: 1%;

    color: var(--PowercraftColor);
    font-size: 0.8vw;

    background-color: var(--OpaicGrey);
    border: 2px var(--OpaicGrey) solid ;
    border-radius: 5px;
}

.panel b{
    position: relative;
    left: 15vw;
}

.panel div:nth-of-type(even){
    background: var(--OpaicGrey)
}

.server_terminal {
    background-color: black;
    color: white;

    width: 50vw;
    height: 60vh;

    display: inline-block;

    overflow-y: scroll;
    overflow-x: wrap;

    padding: 0.5%;
}
::-webkit-scrollbar {
    display: none;
}

.server_terminal_input {
    border: none;
    border-top: 1px white solid;

    width: 150px;

    background-color: grey;
    color: white;

    font-size: 15px;
}

.terminal_text {
}
.terminal_text:hover {
    background-color: yellow;
    color: purple;
}

.status_light{
    position: absolute;
    right: 5.5vw;

    height: 25px;
    width: 25px;

    background-color: red;
    border-radius: 50%;
}

.control_panel {
    margin-top: 2vh;
    height: 20%;


    background-color: orange;
}

.control_panel button {
    width: 4vw;
    height: 2vh;

    font-size: 15px;
    color: white;
}

.start_button {
    border: 1px solid rgb(0, 205, 0);
    background-color: rgb(10, 245, 10);
}

.restart_button {
    border: 1px solid #c3830c;
    background-color: #ffa500;
    width: 2vw;
    border-radius: 7px;
}

.stop_button {
    border: 1px solid #b60202;
    background-color: #ff0000;

    width: 2vw;
    border-radius: 7px;
}

button {
    width: 2vw;
    border-radius: 7px;
}
